<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Sbrigit - Login</title>
    <meta content="" name="author">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>
<!--  Start Login Page -->
<div class="overflow-hidden front_form">
    <div class="row g-0">
        <div class="d-none d-md-flex col-md-6 login_bg">
            <div class="front_logo">
                <img src="assets/img/logo.svg" alt="Sbrigit" width="249"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex flex-column align-items-start justify-content-center px-3 px-md-5 min-vh-100">
                <div class="ls_form">
                    <div class="d-md-none front_logo">
                        <img src="assets/img/logo.svg" alt="Sbrigit" width="249"/>
                    </div><!--action="dashboard.html"-->
                    <form method="POST" action="/login" class="w-100">
                        <div class="title_group text-left mb-3 pb-3">
                            <h1 class="h1 mb-3">Edit profile</h1>
                            <p>Edit your driver Profile here!!</p>
                        </div>
                        <div class="mb-3">
                            <div class="position-relative">
                                <label>First Name</label>
                                <input type="text" class="form-control" name="firstName" value={{firstName}} placeholder="Enter FirstName" required />
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="position-relative">
                                <label>Last Name</label>
                                <input type="text" class="form-control" name="lastName" value={{lastName}} placeholder="Enter LastName" required />
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="position-relative">
                                <label>Phone Number</label>
                                <input type="text" class="form-control" name="phoneNumber" value={{phoneNumber}} placeholder="Enter PhoneNo" required />
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="position-relative">
                                <label>City</label>
                                <input type="text" class="form-control" name="city" value={{city}} placeholder="Enter City" required />
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="position-relative">
                                <label>Image_Url</label>
                                <input type="password" class="form-control" name="imageUrl" placeholder="Image Url" required id="pwd" />
                            </div>
                        </div>

                        <!-- <div class="mb-4 text-end">
                            <a href="forgot-password.html">Forgot Password?</a>
                        </div> -->

                        <div class="pt-3">
                            <button class="py-md-3 w-100 btn btn-lg btn-primary" type="submit">
                                Update
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  End Login Page -->

<!-- Script -->
<script>
        function show() {
            var a = document.getElementById("pwd");
            var b = document.getElementById("EYE");
            if (a.type == "password") {
                a.type = "text";
                b.src = "assets/img/icons/show_password.svg";
            } else {
                a.type = "password";
                b.src = "assets/img/icons/hide_password.svg";
            }
        }
      document.querySelector("form").addEventListener("submit",async function(event){
            event.preventDefault();
            const urlParams = new URLSearchParams(window.location.search);
            const myParam = urlParams.get('uid');
            var object = {};
            const formData = new FormData(this);
            formData.forEach((value, key) => object[key] = value);
            var json = JSON.stringify(object);
            console.log(json);
            let data = await fetch(`/update/driver?id=${myParam}`, {
            method: 'PATCH',
            headers: { 'Content-Type':'application/json; charset=UTF-8'},
            body: json
            });
            data = await data.json();
            window.location.replace('drivers');
        });
    </script>

</body>

</html>